

#directionModal {
    width: 100% !important;
}

.visible {


}
.vis {
    visibility:visible !important;
    pointer-events:initial !important;
}

.directions {
    height: 40px;
    visibility: hidden;
    pointer-events: none;
}

.btn-light {
    background-color: #32407b;
    border:none;
    color:white;
   padding-left:20px;
   box-shadow:none;
   font-size:20px;
}

.directions {


}

h5 {
    color: white;
}

.taken {
    pointer-events: none;
    opacity: .4;
}

.row {
    background-color: white;
}

.btn-light {
    border-radius: 0 !important;
}

nav {
    height: 80px;
    height: 80px;
    font-size: 30px;
    background-color: #32407b;
}

.parking-lot {
    padding-top: 60px;
    background-image: url("parkinglotMain.jpg");
    width: 100%;
    height: 500px;
    transition: all .8s;
    width: 100%;
    margin: 0 auto;
}

:root {
    --secondary-color: #fffdf9;
}

.whole {
}

.col-md-1 {
    padding: 0 !important;
    margin: 0 !important;
}

.lot {
    padding-left: 16px;
    padding-right: 16px;
    background-color: #32407b;
    height: 300px;
    width: 100%;
    margin: 0 auto;
}

.parking-spot {
    height: 300px;
    border-top: var(--secondary-color) 3px solid;
    border-left: var(--secondary-color) 3px solid;
    border-right: var(--secondary-color) 3px solid;
    background-color: #32407b;;
    font-family: 'Allerta Stencil', sans-serif;
    text-align: center;
    padding: 0px !important;
    margin: 0;
}

.parking-spot h1 {
    color: var(--secondary-color);
    margin-top: 70px;
    font-size: 60px;


}

.parking-spot img {

    width: 100%;

    margin-top: 40px;
    opacity: 0;
    transition: all .6s;
    transition-timing-function: ease;

}

.parking-spot:hover img {
    margin-top: -130px;
    opacity: 1;
}

.parking-spot btn {
    width: 100%;
    opacity: 0;
    transition: all .4s;
    font-family: 'Roboto', sans-serif;
    border: 0 !important;
    box-shadow: none;
}

.parking-spot:hover btn {
    opacity: 1;

}

    .parking-spot:disabled + #directionBtn1 {
        display: inline;
    }


.col-md-4 {
    text-align: center;
}

.navbar-collapse {
    background-color: #041e42;
    width: 100% !important;
    opacity: .8;
    padding: 0 !important;
    margin: 0 !important;
    visibility: hidden;
}

/*
@media (max-width: 992px)
{

.navbar-collapse{

  visibility:visible;
}
  .lot{
    visibility:hidden;
  }
}
    */
